@media screen and (max-width : 400px) {
    .card{
        margin-bottom: 50px;
        justify-content: center;
       

    }
    .search button {
        width: 90px;
        height: 40px;
        border-radius: 50%;
        justify-content: left;

    }

    .search input {
        flex-wrap: wrap;
        padding: 5px 15px;
        height: 40px;
        border-radius: 30px;
        flex: 1;
        margin-right: 10px;
    }


}